/* estilos del footer */

footer{
    text-align: right;
    padding: 20px;
    .listas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        justify-content: center;
        padding: 20px;
        text-align: center;
    }    
}

@media (max-width: 910px) {
    iframe{
        max-width: 100%; /* Las imágenes, tablas e iframes no excederán el tamaño del contenedor */
        height: auto;    /* Mantiene la proporción de las imágenes */
        display: block;  /* Elimina el espacio en línea alrededor de imágenes y otros elementos */
    }
}

